@charset "UTF-8";
header{
	background-color: #93B2DD;
}

section{
	background-color: #8EFFD8;
}
h1 {
	color: #000000;
	font-weight: bold;
	
}
h2 {
    color: #FFFFFF;
    font-weight: normal;
    font-size: large;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: left;
}
h3 {
	color: #0000000;
	font-weight: bold;
	font-size: x-large;
}
hr {
	color: #FF0004;
	border-color: hsla(359,30%,63%,0.36);
}
.max1200 {
	max-width: 1000px;
}


.header-img {
	max-height: 200px;
}
.navbar{
    border: none;
    background-color: #ABFDFF;
    border-bottom-width: 0pt;
    border-bottom-style: none;
    padding-bottom: 0px;
    margin-bottom: 0;
	border-radius: 0;
}
